environment.d/
GIMP/
gtk-4.0/
jgit/
lact/
libreoffice/
lutris/
menus/
mozilla/
mpv/
nix/
obsidian/
pulse/
qalculate/
rofi-mpd/
session/
systemd/
Thunar/
vesktop/Crashpad/
vesktop/sessionData
vesktop/SingletonCookie
vesktop/SingletonLock
vesktop/SingletonSocket
VSCodium/
xfce4/
xm1/
chromium/
